---
layout: layout.njk
internalName: index
pageName: index
headerType: solid
---
{% set indexJS %}
	{% include 'index.js' %}
{% endset %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/images/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>cryptoskillz</h1>
                            <span class="subheading">A journey through Bitcoin technology</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
	                {% for item in api.postsArray %}
	                    <!-- Post preview-->
	                    
	                    <div class="post-preview">
	                        <a href="/post/{{item.title | slug}}">
	                            <h2 class="post-title">{{item.title}}</h2>
	                            <h3 class="post-subtitle">{{item.summary}}</h3>
	                        </a>
	                        <!--
	                        <p class="post-meta">
	                            Posted by
	                            <a href="#!">Start Bootstrap</a>
	                            on September 24, 2021
	                        </p>
	                        -->
	                    </div>
	                {% endfor %}
                    <!-- Divider -->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <!--<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>-->
                </div>
            </div>
        </div>
<script type="text/javascript">{{indexJS  | jsmin | safe}}</script>
