---
layout: layoutpayme.njk
internalName: payme
pageName: payme
headerType: solid
---
<!--

to do

paramaters to pass in
monitor block chain
store in KV

--> 


 <!-- Main Content-->


<div class="d-flex justify-content-center">
	<a href="bitcoin:bc1q63vhza4jc7096w4skyzf6jtk30ylnf2ssmhpfj">bc1q63vhza4jc7096w4skyzf6jtk30ylnf2ssmhpfj</a>
</div>
<div class="d-flex justify-content-center">
	<img src="/assets/images/qrcode.png" />
</div>
<div class="d-flex justify-content-center">
	Congratulations on deciding to pay in Bitcoin you are through the looking glass. <br> Now you see the invoice you received from us, take 5% off it and pay. 
</div>
