---
layout: layoutpayme.njk
internalName: payme
pageName: payme
headerType: solid
---
<!--

to do

paramaters to pass in
monitor block chain
store in KV

--> 


 <!-- Main Content-->
 <script type="text/javascript">
 	//A90C158B-2C44-4221-A664-893304569B48

fetch("https://api.nomics.com/v1/exchange-rates?key=A90C158B-2C44-4221-A664-893304569B48")
  .then(response => response.json())
  .then(data => console.log(data))
 </script>


<div class="d-flex justify-content-center">
	<a href="bitcoin:bc1q63vhza4jc7096w4skyzf6jtk30ylnf2ssmhpfj">bc1q63vhza4jc7096w4skyzf6jtk30ylnf2ssmhpfj</a>
</div>
<div class="d-flex justify-content-center">
	<img src="/assets/images/qrcode.png" />
</div>
<div class="d-flex justify-content-center">
	Congratulations on deciding to pay in Bitcoin you are through the looking glass. <br> Now you see the invoice you received from us, take 5% off it and pay. 
</div>
