---
layout: layout.njk
internalName: post-detail
pagination:
  data: api.postsArray
  size: 1
  alias: contentarray
permalink: /post/{{ contentarray.slug.current }}/
pageType: contentdetail
menuName: content
---
{{contentarray.title}}
{{contentarray._body | safe }}