---
layout: layout.njk
internalName: post-detail
pagination:
  data: api.postsArray
  size: 1
  alias: contentarray
permalink: /post/{{ contentarray.slug.current }}/
pageType: contentdetail
menuName: content
---
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{contentarray._mainImage}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>{{contentarray.title | safe}}</h2>
                    <span class="subheading">{{contentarray.author | safe}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
        {{contentarray._body | safe }}
        </div>
    </div>
</div>


