---
layout: layout.njk
internalName: articles
pagination:
  data: api.articlesArray
  size: 1
  alias: contentarray
permalink: /article/{{ contentarray.title | slug }}/
pageType: contentdetail
menuName: content
---
<!-- Page Header-->
		<!-- update this to use local image 
        <header class="masthead" style="background-image: url('{{env.CDN_URL}}images{{contentarray.header.url}}')">-->
         <header class="masthead" style="background-image: url('{{contentarray.header.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{contentarray.title}}</h1>
                            <h2 class="subheading">{{contentarray.summary}}</h2>
                            <!-- todo 
                            <span class="meta">
                                Posted by
                                <a href="#!">sss</a>
                                on {{contentarray.published_at}}
                            </span>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4 image-fluid">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-12">
                        {{contentarray.content  | renderUsingMarkdown | safe}}
                    </div>
                </div>
            </div>
        </article>
        <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
